<div id="<%= id %>" class="avp-language-settings avp-settings avp-popin">
    <div class="avp-header">
        <button class="avp-back-link">Back</button>
        <span role="header"><%= t("languageSettings.header") %></span>
    </div>

</div>
