<div id="<%= id %>" class="avp-marker avp-tooltip avp-template">
    <button class="avp-trigger">
    </button>

    <div class="avp-popin avp-target">
        <div class="avp-row">
            <label><%= title %></label>
            <button class="avp-edit-button"><%= renderIcon("edit", t("marker.editLabel")) %></button>
            <button class="avp-delete-button"><%= renderIcon("delete", t("marker.deleteLabel")) %></button>
        </div>
    </div>
</div>
