<div id="<%= id %>" class="avp-marker-add-form avp-popin">
    <div class="avp-header">
        <span role="header"><%= t("markerAddForm.header") %></span>
    </div>
    <div class="avp-row">
        <input type="text" />
    </div>
    <div class="avp-row">
        <button class="avp-submit-button">
            <%= t("markerAddForm.addButtonLabel") %>
            <%= renderIcon("Add", "") %>
        </button>
    </div>
</div>
