<div id="<%= id %>" class="avp-playback-quality-settings avp-settings avp-popin">
    <div class="avp-header">
        <button class="avp-back-link">
            <%= renderIcon("back", t("settings.back")) %>
        </button>
        <span role="header"><%= t("playbackQualitySettings.header") %></span>
    </div>

    <%= renderRadioGroup(id, "video_quality", qualityRadioItems) %>
</div>
