<div id="<%= id %>" class="avp-subtitle-settings avp-settings avp-popin">
    <div class="avp-header">
        <button class="avp-back-link">Back</button>
        <span role="header"><%= t("subtitleSettings.header") %></span>
    </div>
</div>
