<div id="<%= id %>" class="avp-time-bar">
    <%= markerBar %>
    <div class="avp-range-slider">
        <input type="range" min="0" max="1000" value="0" />
        <div class="avp-range-slider-total">
            <div class="avp-range-slider-lower"></div>
        </div>
    </div>
</div>
