<div class="avp-time-bar">
    <div class="avp-range-slider">
        <input type="range" min="1" max="100" value="<%= currentVolume %>" />
        <div class="avp-range-slider-total">
            <div class="avp-range-slider-lower"></div>
        </div>
    </div>
</div>
