.avp-control-bar {
    position: relative;
    background: #ee3333;
    color: #fff;
    display: flex;
    justify-content: space-between;

    & svg {
        height: 2rem;
        fill: #fff;
    }

    & button {
        border: none;
        height: 2rem;
        padding: 0;
        background: transparent;
        cursor: pointer;
    }

    & .avp-left {
        display: flex;
        align-content: flex-start;

        & > * {
            margin-right: 0.5rem;
        }
    }

    & .avp-right {
        display: flex;
        align-content: flex-end;
    }

    & .avp-time {
        display: inline-block;
        padding: 0.5rem 0;
        height: 1rem;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1;

        & span.avp-time-separator {
            display: inline-block;
            padding: 0 0.2rem;
        }
    }

    & .avp-control-bar-volume-container {
        position: relative;
        display: inline-block;
        height: 2rem;
    }

    & .avp-control-bar-volume-panel {
        position: absolute;
        display: block;
        opacity: 0;
        left: -20000rem;
        z-index: -1;
        bottom: 1rem;
        padding: 0.5rem;
        height: 2rem;
        overflow: hidden;
        background: red;
        border-radius: 0.5rem;
        transform: translateY(-100%) rotate(270deg);
        transition: opacity 0.2s;

        & .avp-ranges-slider {
            width: 6rem;
            height: 2rem;
        }

        & .avp-range-slider-total {
            background: orange;
        }
    }

    & .avp-control-bar-volume-panel.avp-open {
        z-index: 10;
        opacity: 1;
        left: -1.5rem;
    }
}
