.avp-marker-form {
    background: #ee3333;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;

    & .avp-header {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
    }

    & .avp-row {
        margin-bottom: 1rem;
    }

    & button {
        background: #ff6666;
        border-radius: 0.2rem;
        border: none;
        padding: 0.5rem;
        color: #fff;
    }

    & input[type="text"] {
        height: 1.3rem;
        border: 1pt solid #ff6666;
    }
}

.avp-marker-form.avp-add-form {
    & .avp-mode-1, {
        display: inline-block;
    }

    & .avp-mode-2,
    & .avp-mode-3 {
        display: none;
    }
}

.avp-marker-form.avp-edit-form {
    & .avp-mode-1,
    & .avp-mode-3 {
        display: none;
    }

    & .avp-mode-2 {
        display: inline-block;
    }
}

.avp-marker-form.avp-add-form.avp-header-title,
.avp-marker-form.avp-edit-form.avp-header-title {
    & .avp-header .avp-mode-1,
    & .avp-header .avp-mode-2 {
        display: none;
    }

    & .avp-mode-3 {
        display: inline-block;
    }
}

.avp-marker-bar {
    position: absolute;
    width: 100%;
}

.avp-marker.avp-template {
    display: none;
}

.avp-marker {
    position: absolute;
    bottom: 0;
    z-index: 100;

    & button.avp-trigger {
        width: 4pt;
        height: 0.5rem;
        background: #ccc;
        padding: 0;
        margin: 0;
        border: 0;
        cursor: pointer;
    }

    & .avp-target {
        left: -0.5rem;
        bottom: 2rem;
        white-space: nowrap;
        color: #fff;

        & button {
            display: inline-block;
        }
    }

    & .avp-target.avp-popin.avp-open {
        display: block;
    }
}
