@import "./video.css";
@import "./popin.css";
@import "./tooltip.css";
@import "./control-bar.css";
@import "./range-slider.css";
@import "./marker.css";
@import "./switch.css";
@import "./radio.css";
@import "./settings.css";
@import "./transcription.css";
@import "./thumbnail.css";
@import "./time-bar.css";
@import "./player-content.css";

.avp-player {
    width: 60%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    & button {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

    & label {
        line-height: 1;
        font-family: Arial, Helvetica, sans-serif;
    }

    & .avp-control-bar-play-pause {
        & .avp-play {
            display: inline-block;
        }

        & .avp-pause {
            display: none;
        }
    }

    & .avp-player-control-group {
        background: #ee3333;
    }


    & .avp-control-bar-fullscreen {
        & .avp-fullscreen-on {
            display: none;
        }

        & .avp-fullscreen-off {
            display: inline-block;
        }
    }
}

.avp-player.avp-playing {
    & .avp-control-bar-play-pause {
        & .avp-play {
            display: none;
        }

        & .avp-pause {
            display: inline-block;
        }
    }
}

/**
 * Content is loading and is still not available
 */
.avp-player.avp-content-loading {
    opacity: 0.5;
}

.avp-player.avp-transcription-enabled {
    & .avp-video-group {
        width: 50%;
    }

    & .avp-transcription-container {
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: 100%;
    }
}

.avp-player.avp-transcription-disabled {
    & .avp-transcription-container {
        display: none;
    }
}

.avp-player.avp-transcription-disabled.avp-secondary-video-enabled {
    & .avp-secondary-video-container {
        position: absolute;
        width: 33%;
        top: 1rem;
        right: 1rem;
        padding-bottom: 19%;
    }
}

.avp-player.avp-secondary-video-disabled {
    & .avp-secondary-video-container {
        display: none;
    }
}

.avp-player.avp-thumbnail-disabled {
    & .avp-thumbnail-container {
        display: none;
    }
}

/**
 * Fullscreen
 */

.avp-player.avp-fullscreen-enabled {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #000;

    & .avp-player-content {
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    & .avp-control-bar-fullscreen {
        & .avp-fullscreen-on {
            display: inline-block;
        }

        & .avp-fullscreen-off {
            display: none;
        }
    }

    & .avp-main-video-container {
        width: 100vw;
        padding-bottom: 0;
        height: 100vh;
    }

    & .avp-player-control-group {
        position: absolute;
        width: 80vw;
        bottom: 2vh;
        left: 10vw;
        background: #ee3333;
        border-radius: 0.5rem;
    }

    & .avp-thumbnail {
        display: none;
    }
}

.avp-player.avp-fullscreen-enabled.avp-transcription-enabled {
    & .avp-video-container {
        width: 50vw;
        height: 50vh;
        padding-bottom:0;
    }
}

.avp-player.avp-transcription-disabled.avp-fullscreen-enabled {
    & .avp-secondary-video-container {
        top: 2vh;
        right: 2vh;
        width: 20vw;
        height: 11.25vw;
        padding: 0;
    }
}
