@import "./video.css";
@import "./popin.css";
@import "./control-bar.css";
@import "./range-slider.css";
@import "./switch.css";
@import "./radio.css";
@import "./settings.css";
@import "./transcription.css";
@import "./thumbnail.css";
@import "./player-content.css";

.avp-player {
    width: 60%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    & button {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

    & label {
        line-height: 1;
        font-family: Arial, Helvetica, sans-serif;
    }

    & .avp-control-bar-play-pause {
        & .avp-play {
            display: inline-block;
        }

        & .avp-pause {
            display: none;
        }
    }
}

.avp-player.avp-playing {
    & .avp-control-bar-play-pause {
        & .avp-play {
            display: none;
        }

        & .avp-pause {
            display: inline-block;
        }
    }
}

/**
 * Content is loading and is still not available
 */
.avp-player.avp-content-loading {
    opacity: 0.5;
}

.avp-player.avp-transcription-enabled {
    & .avp-video-group {
        width: 50%;
    }

    & .avp-transcription-container {
        display: block;
    }
}

.avp-player.avp-transcription-enabled.avp-secondary-video-enabled {

}

.avp-player.avp-transcription-disabled.avp-secondary-video-enabled {
    & .avp-secondary-video-container {
        position: absolute;
        width: 33%;
        top: 1rem;
        right: 1rem;
        padding-bottom: 19%;
    }
}

.avp-player.avp-thumbnail-enabled {
    & .avp-thumbnail-container {
        display: block;
    }
}
