.avp-range-slider {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;

    & input {
        appearance: none; /* override default look */
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        height: 1rem;
        outline: none; /* Remove outline */
        position: absolute;
        z-index: 20;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: transparent;

        &::range-thumb {
            -webkit-appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            border: none;
            border-radius: 50%;
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
            transition: height 0.2s width 0.2s;
        }

        &::range-track {
            background: transparent;
        }
    }

    & .avp-range-slider-total {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        border-radius: 0.5rem;
        background: red;
    }

    & .avp-range-slider-lower {
        top: 0;
        left: 0;
        width: 50%;
        height: 0.5rem;
        background: blue;
        border-radius: 0.5rem;
    }
}
