.avp-settings.avp-popin {
    background: red;
    padding: 1rem;
    right: 1rem;
    bottom: 3rem;
    border-radius: 0.5rem;

    & button {
        height: auto;
    }

    & .avp-header {
        margin-bottom: 1rem;
    }

    & .avp-row {
        margin-bottom: 1rem;
    }

    & .avp-radio label,
    & .avp-switch label {
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 1rem;
    }
}

.avp-playback-speed-settings {
    & .avp-range-slider {
        width: 100%;
    }

    & .avp-range-slider-total {
        background: orange;
    }
}
