.avp-settings.avp-popin {
    background: red;
    padding: 1rem;
    right: 1rem;
    bottom: 3rem;
    border-radius: 0.5rem;

    & button {
        height: auto;
    }

    & .avp-header {
        margin-bottom: 1rem;
    }

    & .avp-row {
        margin-bottom: 1rem;
    }

    & .avp-switch label {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
}
