.avp-time-bar {
    padding: 0.2rem 0.5rem 0 0.5rem;

    & .avp-range-slider {
        height: 1rem;
        width: 100%;

        & .avp-range-slider-total {
            background: #ff6666;
        }

        & input {
            &::range-thumb {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
