.avp-time-bar {
    position: relative;
    z-index: 10;
    margin: 0 0.5rem;
    height: 1rem;

    & .avp-marker-bar {
        top: 1rem;
        z-index: 20;
        height: 1rem;
        left: 0;
        right: 2pt;
        width: auto;
        & .avp-marker {
            height: 1rem;
            width: 4pt;
            transform: translateY(-100%);
        }

        & .avp-trigger {
            position: absolute;
            height: 0.5rem;
            transform: translateY(50%);
            top: 0;
        }
    }

    & .avp-range-slider {
        height: 1rem;
        width: 100%;
        z-index: 10;

        & .avp-range-slider-total {
            background: #ff6666;
        }

        & input {

            &::range-thumb {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
