:root {
    --controls_button_size: 1.4rem;
    --marker_size: 3rem;
}

.root {
    display: flex;
}

.players_container {
    flex-grow: 8;
    position: relative;
}

.players_container_fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.player {
    position: absolute;
    

    & video {
        width: 100%;
    }
}

.lsf_player {
    width: 25%;

    top: 0px;
    right:0px
}

.lsf_player_hidden {
    display: none;
}

.main_player {
    width: 100%;

    top: 0px;
    left: 0px;
}

.main_player_minified {
    width: 75%;
}

.options_root {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    & * {
        flex-grow: 1;
        width: 100%;
    }
}

.controls {
    display: flex;

    & div progress {
        width: 100%;
        border: 1px black solid;
    }

    & div{
        flex-grow: 1;
        position: relative;
    }

    & button {
        width: var(--controls_button_size);
        height: var(--controls_button_size);
        padding: 0px;

        & svg {
            width: 100%;
            height: 100%
        }
    }

    & svg {
        width: var(--controls_button_size);
        height: var(--controls_button_size);
    }

    & input {
        width: 5rem;
    }

    & .marker {
        position: absolute;
        z-index: 5000;
        top: -2.7rem;
        margin: 0;
        width: var(--marker_size);
        height: var(--marker_size);
        fill: red;
    }
}

.controls_fullscreen {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background-color: grey;
    padding: 2px;
    border: 1px black solid;
}

.marker_container {
    horflow: auto;
    width: 100%;
    & img {
        display: inline-block;
        height: 10rem;
        margin: 0 1px;
    }
}